.linkSeta {
  display: block;
}

.linkSeta p {
  display: inline-block;
  position: relative;
}

.linkSeta p::after {
  content: "north_east";
  font-family: "Material Symbols Rounded";
  position: absolute;
  right: -1.0rem;
  top: 0;
  font-size: 1.25rem;
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.linkSeta p:hover::after {
  opacity: 1;
}
