.linkSeta {
  display: block;
}

.linkSeta p {
  display: inline-block;
  position: relative;
}

.linkSeta p::after {
  content: "north_east";
  font-family: "Material Symbols Rounded";
  right: -1.0rem;
  transition: opacity 0.15s ease-in;
  @apply text-destaque absolute top-0 text-lg opacity-0
}

.linkSeta p:hover::after {
  opacity: 1;
}