@tailwind base;
@tailwind components;
@tailwind utilities;


@import "~@flaticon/flaticon-uicons/css/all/all";
@import "material-symbols";

.material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
}

* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

h1,
h2,
h3,
h4 {
  @apply font-titulo
}

p, span, small, b, a {
  @apply font-corpo
}

html {
  @apply bg-dark scroll-smooth
}

.container-padrao {
  @apply  border-2 border-white dark:bg-dark bg-white p-4 w-full max-w-screen-desktop
}

.icone-padrao {
  @apply bg-white dark:border-white hover:bg-dark dark:bg-dark dark:hover:bg-white p-2 transition-colors ease-linear duration-300 border-2 border-dark hover:border-white items-center rounded-full
}

.icone-padrao i, .icone-padrao span {
  @apply text-dark dark:text-white delay-200 text-3xl m-1 items-center
}

.groupHover-padrao {
  @apply group-hover:text-white dark:group-hover:text-dark
}

.svg path {
  @apply fill-dark dark:fill-white
}

p {
  @apply text-center dark:text-white text-2xl text-balance
}