@import "../../../globals.css";

.card {
  transition: all ease-in-out 0.7s;
}

.card:hover {
  transform: rotate(0) scale(1.02);
  transition: all ease-in-out 0.5s;
  border: none;
}

.resumoExpandido{
transition: all;
animation-duration: 0.3 s;
animation-timing-function: ease-in-out;
}